@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

.root {
	color: white;
	background-color: black;

	min-width: 100vw;
	min-height: 100vh;
}

button {
	color: white;
	background-color: #B10CED;

	font-family: 'Nunito', sans-serif;
	font-size: 1.5rem;

	padding: 0.5rem 1.0rem;
	border-radius: 0.25rem;

	transition: 0.1s background-color;
}

button:active {
	background-color: #8D0ABD;
}
